/* === TIPOGRAFÍA BASE === */
body {
 font-family:'Times New Roman', Times, serif;
 background-color: #f5b28c; 
 color: #0e0d0d;
}

/* ===  id H1, clase H2, clase H3 === */
#h1{
font-family: "Cinzel", serif;
font-size: 60px;
color: rgb(214, 86, 0);

}

/* === Parrafos, Servicio, id Button === */
.parrafos{
    font-family: "Slabo 27px", serif;
    font-size: 20px;
}

#button{    
    font-family: "Slabo 27px", serif;
    font-size: 25px;   
    color: rgb(103, 30, 187);
}

/* === id contactos === */
#contactos{
font-family: "Slabo 27px", serif;
font-size: 20px;
font-style: normal;
}

/* === footer === */
#footer{
font-family: "IBM Plex MONO", serif;
font-size: 20px;
text-align: right;
font-style: normal;
}