/* === TIPOGRAFÍA === */
.slabo-27px-regular {
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
}

.slabo-27px-regular {
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
}

/* === TIPOGRAFÍA BASE === */
body {
 font-family:'Times New Roman', Times, serif;
 background-color: #f5b28c; 
 color: #0e0d0d;
}

/* ===  id H1, clase H2, clase H3 === */


/* === Parrafos, Servicio, id Button === */


/* === id contactos === */