/* === TIPOGRAFÍA BASE === */
body {
 font-family:'Times New Roman', Times, serif;
 background-color: #f5b28c; 
 color: #0e0d0d;
}

/* ===  id H1, clase H2, clase H3 === */


/* === Parrafos, Servicio, id Button === */
.parrafos{
    font-family: "Slabo 27px", serif;
    font-size: 20px;
}

#button{    
    font-family: "Slabo 27px", serif;
    font-size: 25px;   
}


/* === id contactos === */